### Forbid access 

Options -Indexes

RewriteEngine On

#Interdire l'acces aux dossiers :
RewriteRule ^(App|Database) - [R=403,L]

#Interdire l'acces au fichier .env :
<FilesMatch "(.env|.gitignore|composer.json|composer.lock|README.md)">
  Order allow,deny
  Deny from all
</FilesMatch> 